<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}

{{ if .Site.Params.highlightjs }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  {{ range .Site.Params.highlightjslanguages }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/{{.}}.min.js"></script>
  {{ end }}

  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
{{ end }}

{{ if .Site.Params.piwik }}
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="{{ .Site.Params.piwik_url }}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{{ .Site.Params.piwik_id }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Piwik Code -->
{{ end }}

<!-- External URLs will open in separate tab -->
{{ if .Site.Params.external_url_redirect }}
<script type="text/javascript">
    function link_is_external(link_element) {
        return (link_element.host !== window.location.host);
    }

    var links = document.links;
    var lcount = links.length;
    var mstring = "Links: "
    for (var i = 0; i < lcount; i++) {
        if (link_is_external(links[i])) {
            mstring = mstring + "Yes" + " ";
            links[i].target = '_blank';
            links[i].rel = 'noopener';
        }
    }
</script>
{{ end }}

<script type="text/javascript">
    var pattern = /serve_email_fromjs/;
    var mailuser = "{{ .Site.Params.email_username }}";
    var mailclient = "{{ .Site.Params.email_client }}";

    var links = document.links;
    for (var i = 0; i < links.length; i++) {
       if (pattern.test(links[i].href)) {
            links[i].href = "mailto:" + mailuser + "@" + mailclient;
       }
    }
</script>
